.spinner {
    position: fixed;
    inset: 0;
    background: #000000de;
    display: none;
    align-items: center;
    justify-content: center;

    &.show {
        display: flex;
    }

    .loader {
        transform: scale(1.2);
        * > i {
            border-bottom-color: #fff;
        }
    }
}
