.card {
  width: 85%;
  height: 90%;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  // transition: transform 0.01s ease-in-out;
  cursor: grab;
  position: absolute;

  &.leftremove {
    border: 2px solid red;
    transform: translateX(-150%) !important;
    transition: transform 0.5s ease-in-out;
  }

  &.rightremove {
    border: 2px solid green;
    transform: translateX(150%) !important;
    transition: transform 0.5s ease-in-out;
  }
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// .card.left {
//   transform: translateX(-150%);
// }

// .card.right {
//   transform: translateX(150%);
// }

.swipeIndicator {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1;
}
