@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

html {
    width: 100%;
}
body {
    background: #121212;
}

.mainContainer {
    margin: 0 auto;
    max-width: 1400px;
}

h1,
button {
    color: #fff;
}

p {
    color: #dadada;
}
